<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASQCJzLI810x5JCo3Ayk_VNbT-0Oa1KAI</string>
	<key>GCM_SENDER_ID</key>
	<string>80253420074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recyclify.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>recyclify-4a523</string>
	<key>STORAGE_BUCKET</key>
	<string>recyclify-4a523.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80253420074:ios:34e9c0fe5607032002f953</string>
</dict>
</plist>